BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
SortIncludes: true
InsertNewlineAtEOF: true
AlwaysBreakTemplateDeclarations: Yes
AttributeMacros:
  - __attribute__
